<ion-view style="" class=" " id="page13" title="Developer">
    <ion-content class="has-header" padding="false"  style="background-image: url('../img/gamecocklogo.jpeg');">

      <ion-list class=" " >
        <br/>
        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  src="img/Austin.jpg">
              </a>
              <p style="color: #ffffff;">Austin James </p>
            </div>
          </div>
        </div>

      </ion-list>

    </ion-content>
</ion-view>
